<ion-header>
  <ion-toolbar>
    <ion-title>
      Subir Imagen
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-img expand="full" fill="clear" [src]="base64Image"></ion-img>
  <ion-row>
    <ion-button expand="full" expand="block" (click)="openCamera()">Abrir Camara</ion-button>
  </ion-row>
  <!-- <ion-row>
    <ion-button expand="full" expand="block" (click)="openGallery()">Abrir Galeria</ion-button>
  </ion-row> -->
  <ion-row>
    <ion-button expand="full" shape="round" color="dark" (click)="uploadImage()">Subir a Servidor</ion-button>
  </ion-row>
  
  
  
</ion-content>
